body {
  font-family: sans-serif;
}

.instructions-list li {
  padding-bottom: 10px;
}

.animalImage {
  height:100px;
  width:100px;
}

.animal{
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin:5px;
  width: 125px;
  padding-left: 30px;
}
.animalPen{
  border-style: double;
  width:30%;
  padding:5px;
}
.penTitle {
  text-align: center;
}
.main-title{
  text-align: center;
}
.animal-form{
  margin:25px;
  text-align: center;
}
.creation{
  text-align: center;
}
.penContent{
  border-style:dotted;
}